$blue: rgb(1, 92, 174);
$red: rgb(237, 25, 81);
$grey: rgb(112, 112, 112);
$light-grey:rgb(169,167,146);
$black:rgb(0,0,0);
$white:rgb(255,255,255);
$light-black:rgb(31,31,31);
$black-font:rgb(72,72,72);

$palette-purple: rgb(220, 0, 100) rgb(161, 24, 129) rgb(112, 34, 131);
$palette-red: rgb(227, 6, 19) rgb(193, 50, 66) rgb(138, 7, 45);
$palette-orange: rgb(255, 204, 0) rgb(247, 166, 0), rgb(236, 102, 8);
$palette-green: rgb(216, 218, 0) rgb(175, 183, 0) rgb(58, 108, 26);
$palette-blue-grey: rgb(0, 171, 170) rgb(103, 177, 136) rgb(0, 123, 106);
$palette-blue: rgb(0, 159, 227) rgb(0, 110, 156) rgb(0, 44, 76);
$palette-grey: rgb(149, 160, 151) rgb(151, 155, 160) rgb(158, 156, 131);
$palette-brown: rgb(149, 125,96) rgb(186,178,112);
